<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>福利奖品详细信息</title>
</head>
<body>
    <h1>福利奖品详细信息</h1>
    <table width="800" border="0">
        <tr>
            <td width="200">奖品编号</td>
            <td>{{ walfareinfo.prize_number}}</td>
        </tr>
        <tr>
            <td>奖品名称</td>
            <td>{{ walfareinfo.prize_name}}</td>
        </tr>
        <tr>
            <td>兑换积分</td>
            <td>{{ walfareinfo.prize_points}}</td>
        </tr>
        <tr>
            <td>奖品简介</td>
            <td>{{ walfareinfo.prize_introduction}}</td>
        </tr>
        <tr>
            <td>奖品图片</td>
            <td>{{ wakfareubfi.prize_image}}</td>
        </tr>
    </table>

</body>
</html>