<!DOCTYPE html>
<html>
<style type="text/css">
        html, body {
            height: 100%;
            overflow: auto;
        }
        body {
            padding: 0;
            margin: 0;
        }
    </style>
<head>
<meta charset="utf-8">
<title>志愿者信息填写</title>
</head>
<body>
    <h1 align="center" valign="middle">志愿者信息填写</h1>
    <h2>{{error}}</h2>
    <form style="height:100%;"align="center" valign="middle" action="{% url 'Volunteer:setInfo' %}" method="POST" id="volunteer_info_form"">
    {% csrf_token %}
    志愿者姓名:<br>
    <input type="text" name="volunteer_name">
    <br>
    志愿者性别<br>
    <select name="sex">
        <option value="1">男</option>
        <option value="0">女</option>
    </select><br>
    年龄<br>
    <input type="text" name="age"><br>
    电话<br>
    <input type="text" name="tel"><br>
    地址<br>
    <input type="text" name="address"><br>
    文化水平<br>
    <select name="cultural_level">
        <option value="小学">小学</option>
        <option value="初中">初中</option>
        <option value="高中">高中</option>
        <option value="专科">专科</option>
        <option value="本科">本科</option>
        <option value="硕士">硕士</option>
        <option value="博士">博士</option>
    </select><br>
    <br>
    <button form="volunteer_info_form" type="submit" name="">提交</button>
    </form>
</body>
</html>