<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>志愿者详细信息</title>
</head>
<body>
    <h1>志愿者详细信息</h1>
    <table width="800" border="0">
        <tr>
            <td width="200">志愿者编号</td>
            <td>{{ volunteerinfo.volunteer_number}}</td>
        </tr>
        <tr>
            <td>志愿者姓名</td>
            <td>{{ volunteerinfo.volunteer_name}}</td>
        </tr>
        <tr>
            <td>性别</td>
            <td>{{ volunteerinfo.sex}}</td>
        </tr>
        <tr>
            <td>年龄</td>
            <td>{{ volunteerinfo.age}}</td>
        </tr>
        <tr>
            <td>电话</td>
            <td>{{ volunteerinfo.tel}}</td>
        </tr>
        <tr>
            <td>地址</td>
            <td>{{ volunteerinfo.address}}</td>
        </tr>
        <tr>
            <td>文化水平</td>
            <td>{{ volunteerinfo.cultural_level}}</td>
        </tr>
        <tr>
            <td>志愿者活动积分</td>
            <td>{{ volunteerinfo.activity_points}}</td>
        </tr>
        <tr>
            <td>可用积分</td>
            <td>{{ volunteerinfo.available_points}}</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{ volunteerinfo.account}}</td>
        </tr>
    </table>

</body>
</html>