<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>求助者详细信息</title>
</head>
<body>
    <h1>求助者详细信息</h1>
    <table width="800" border="0">
        <tr>
            <td width="200">求助者编号</td>
            <td>{{ helperinfo.helper_number}}</td>
        </tr>
        <tr>
            <td>求助者姓名</td>
            <td>{{ helperinfo.helper_name}}</td>
        </tr>
        <tr>
            <td>手机号</td>
            <td>{{ helperinfo.helper_tel}}</td>
        </tr>
        <tr>
            <td>地址</td>
            <td>{{ helperinfo.helper_address}}</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{ helperinfo.account}}</td>
        </tr>
    </table>

</body>
</html>