<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>求助者列表</title>
</head>
<body>
    <h1>求助者列表</h1>
    <p>求助者编号  求助者姓名</p>
    {% comment %} {% for activity in activitylist %}
    <li> <a href="{% url 'Activity:activityinfo' activity.activity_number%}">{{ activity.activity_number}} {{ activity.activity_name }} </li>
    {% endfor %}</a> {% endcomment %}
    {% for helper in helperlist %}
    <li><a href="{% url 'Helper:helperinfo' helper.helper_number %}"">{{ helper.helper_number}} {{helper.helper_name}}</a></li>
    {% endfor %}
</body>
</html>