<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>求助信息列表</title>
</head>
<body>
    <h1>求助信息列表</h1>
    <table>
        <tr>
            <td>求助活动编号</td>
            <td>求助活动标题</td>
            <td>求助者时间</td>
            <td>活动状态</td>
        </tr>
        {% for recourse in recourse_list %}
        <tr>
            <td>{{recourse.index}}</td>
            <td>{{recourse.title}}</td>
            <td>{{recourse.time}}</td>
            <td><button>求助中</button></td>
        </td>
        {% endfor %}
    </table>
    {% comment %} {% for activity in activitylist %}
    <li> <a href="{% url 'Activity:activityinfo' activity.activity_number%}">{{ activity.activity_number}} {{ activity.activity_name }} </li>
    {% endfor %}</a> {% endcomment %}
</body>
</html>