<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>求助者意见反馈</title>
</head>
<body>
    <h1>求助者意见反馈</h1>
    <table width="800" border="0">
        <tr>
            <td width="200">求助者编号</td>
            <td>{{ opinioninfo.helper_number}}</td>
        </tr>
        <tr>
            <td>求助者姓名</td>
            <td>{{ opinioninfo.helper_name}}</td>
        </tr>
        <tr>
            <td>活动编号</td>
            <td>{{ opinioninfo.activity_number}}</td>
        </tr>
        <tr>
            <td>活动名称</td>
            <td>{{ opinioninfo.activity_name}}</td>
        </tr>
        <tr>
            <td>反馈内容</td>
            <td>{{ opinioninfo.feedback}}</td>
        </tr>
        <tr>
            <td>反馈时间</td>
            <td>{{ opinioninfo.feedback_time}}</td>
        </tr>
    </table>

</body>
</html>