<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>志愿活动用户主页</title>
</head>
<body>
    <h1>志愿活动用户主页</h1>
    <h1> {{ account}} </h1>
    <p>{% if is_manager %}您好，管理员{% else %} 您好，普通用户{% endif %}</p>
    <p><a href="{% url 'Volunteer:to_setInfo' %}">个人资料</a></p>
    <p><a href="{% url 'Recourse:to_recourse'%}">发布求助信息</a></p>
    {% if is_manager %}<p><a href="{% url 'Activity:to_recruit'%}">发布志愿活动</a></p> {% endif %}
    <p><a href="{% url 'Recourse:show_list'%}">求助信息列表</a></p>
    <p><a href="{% url 'Activity:activitylist' %}">志愿者活动列表</a></p>
    {% if is_manager %}<p><a href="{% url 'Walfare:to_walfaremanager' %}">志愿者福利管理</a></p>{% endif %}
    <p><a href="{% url 'Walfare:walfarelist' %}">福利兑换列表</a></p>
    <p><a href="{% url 'Users:logout' %}">注销</a></p>
</body>
</html>